<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="jfrog" value="https://jfrog.rpk.ir/artifactory/api/nuget/v3/nuget-rpk-virtual" disableTLSCertificateValidation="true"/>
  </packageSources>
      <packageSourceCredentials>
        <!-- Credentials for other repositories (if needed) -->
        <jfrog>
            <add key="Username" value="admin" />
            <add key="ClearTextPassword" value="Aliz@123" />
        </jfrog>
</packageSourceCredentials>
    <config>
        <add key="signatureValidationMode" value="accept" />
    </config>
</configuration>  
